/* src/components/CoreValues.css */
.core-values {
    padding: 40px 0px;
    
  }
  
  .core-values h2 {
    text-align:center;
    font-size: 2.5rem;
    background-color:#62420E;
    color: #ffffff;
    height:80px;
    padding-top: 10px; 
  }
  
  .core-values ul {
    list-style: disc;
    padding: 40px;
    max-width: 1500px;
    margin: 0 auto;
  
  }
  
  .core-values li {
    font-size: 1rem;
    color: #030303;
    margin-bottom: 10px;
  }
  